@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";
html, body {
  height: 100%;
  /* For full height images */
}

section {
  padding-top: 75px;
  padding-bottom: 75px;
}

a {
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

a:hover {
  text-decoration: none !important;
  color: #016795;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

hr {
  border: 0;
  border-top: 1px dashed #8c8c8c;
  text-align:center;
}
hr:after {
  content: '\002702';
  display: inline-block;
  position: relative;
  top: -13px;
  padding: 0 3px;
  background: #fff;
  color: #8c8c8c;
  font-size: 18px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-25 {
  margin-bottom: 25px;
}

.intro {
  font-size: 22px;
  margin-bottom: 10px;
}

.idesign h1::first-letter {
  font-weight: bold;
  color: #008bca;
}

.idesign span {
  color: #008bca;
}

.lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.alert {
  margin-top: 55px;
  margin-bottom: 0;
}

body>.navbar-transparent {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.nav>li>a {
  padding-right: 10px;
  padding-left: 10px;
  text-transform: uppercase;
}

.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  font-family: 'Helvetica Neue', sans-serif;
}

.navbar-transparent .navbar-nav>.active>a:hover, .navbar-transparent .navbar-nav>.active>a:focus {
  color: #008cba;
  background: none;
}

.navbar-transparent .navbar-nav>li>a:hover {
  background: none;
  color: #008cba;
}

.navbar-transparent .navbar-nav>li>a:active,
.navbar-transparent .navbar-nav>li>a:focus {
  background: none;
}

.navbar-transparent .navbar-nav>.active>a {
  background-color: transparent;
}

.navbar-nav li a:active {
  border-top: 2px solid #008cba;
}

.navbar-form {
  margin-right: 0;
}

.navbar-nav>li>a.profile-menu {
  padding-top: 7px;
  padding-bottom: 7px;
}

.navbar-nav>.btn {
  margin-top: 6px;
  margin-right: 1.7em;
}

.navbar-nav>li>a {
  font-size: 15px;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand::first-letter {
  font-weight: bold;
  color: #008bca;
}

.navbar-brand>img {
  float: left;
  margin-right: 10px;
}

a.navSignin {
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
  padding: 13px 15px 13px 0;
  display: block;
  float: left;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
  margin-top: 20px;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.btn-outline:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.btn-transparent {
  background: transparent;
  border: 1px solid transparent;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  text-transform: uppercase;
  font-size: 22px;
}

.btn-transparent:hover {
  color: #008bca;
}

.btn-transparent:active {
  color: #008bca !important;
}

.btn-transparent:focus {
  outline: none;
}


/* Home page styling */

/* Photo page */

.photo h1 {
  text-transform: uppercase;
  font-size: 55px;
  letter-spacing: -1px;
  font-weight: 700;
  color: #fff;
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 0 0 20px #9e8b7a;
}

.photo h1 span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 24px;
  color: #fff;
}

#box-1 {
  height: 100vh;
  width: 100%;
  background-image: url(../img/photo/i1.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-2 {
  height: 100vh;
  width: 100%;
  background-image: url(../img/photo/i2.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-3 {
  height: 100vh;
  width: 100%;
  background-image: url(../img/photo/i3.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

/* features */
section.feature {
  padding-bottom:40px;
}

div.center {
  padding-bottom:55px;
  text-align:center;
}

/* features */
.fetures {
  padding:0px;
}

.feature-wrap {
  margin-bottom:35px;
  overflow:hidden;
}

.feature-wrap .fa {
  background:#f5f5f5 none repeat scroll 0 0;
  border:3px solid #f5f5f5;
  border-radius:100%;
  box-shadow:0 0 0 5px #fff inset;
  color:#008cba;
  float:left;
  font-size:48px;
  height:110px;
  line-height:110px;
  margin:3px 25px 3px 3px;
  text-align:center;
  transition:all 500ms ease 0s;
  width:110px;
}

.feature-wrap h2 {
  font-size:20px;
  font-weight:600;
  color:#4e4e4e;
  margin-top:10px;
}

.feature-wrap h3 {
  color:#787878;
  font-size:16px;
  font-weight:300;
  line-height:24px;
}

.feature-wrap .fa:hover {
  background:#008cba none repeat scroll 0 0;
  border:3px solid #008cba;
  box-shadow:0 0 0 5px #008cba inset;
  color:#fff;
}

/* newsletter */
section.newsletter {
  padding-top: 0;
  padding-bottom: 10px;
  background: #333;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #fff;
}

.newsletter .btn {
  margin-top: 15px;
}

/* callout */
section.callout {
  background: rgba(0,140,186,0.1);
  border-top: 1px solid rgba(0,140,186,0.15);
  border-bottom: 1px solid rgba(0,140,186,0.15);
}

.callout img {
    width: 75%;
    margin: 0 auto;
}

.callout p {
  font-size: 20px;
  margin-bottom: 25px;
}

/* gallery */
.port-image {
  width:100%;
}

.gallery .col-md-3 {
  margin-bottom:20px;
}

.gallery-grid {
  font-size: 22px;
}

.each-item {
  position:relative;
  overflow:hidden;
}

p.visit {
  font-weight: bold !important;
}

.each-item:hover .cap2, .each-item:hover .cap1 {
  left:0px;
}

.cap1 {
  position:absolute;
  width:100%;
  height:70%;
  background:rgba(255,255,255,0.75);
  top:0px;
  left:-100%;
  padding:10px;
  transition:all .5s;
}

.cap2 {
  position:absolute;
  color: #fff;
  width:100%;
  height:30%;
  background:rgba(0,140,186,0.75);
  bottom:0px;
  left:100%;
  padding:20px 10px 10px;
  text-transform: uppercase;
  transition:all .5s;
}

/* 2 pane */
section.twin-pane {
  padding-top: 0;
  padding-bottom: 0;
}

.twin-pane-inner {
  border: 10px solid #fff;
  margin: 30px 20px;
}

.twin-pane-inner h1 {
    color: #fff;
    font-weight: bold;
    font-size: 64px;
    letter-spacing: -2px;
    padding-top: 180px;
    padding-bottom: 180px;
}

.twin-pane-left {
  background-image: url('../img/2pane-left.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.twin-pane-right {
  background-image: url('../img/2pane-right.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

/* quotes */
section.quotes {
  padding-top: 25px;
  padding-bottom: 0;
  background: rgba(0,140,186,0.1);
  border-top: 1px solid rgba(0,140,186,0.15);
  border-bottom: 1px solid rgba(0,140,186,0.15);
}

.quotes h1 {
  font-weight: bold;
}

.quotes h1 span {
  color: #008bca;
}

.quotes h3 {
  font-weight: lighter !important;
  margin-top: 0;
  margin-bottom: 14px;
}

.quotes h3 span {
  color: #008bca;
}

/* contact */
section.contact {
  background-color: rgba(0,140,186,0.03);
}

/* footer */

.footer-top-layout {
  background: #1c1c1c none repeat scroll 0 0;
  color: #ffffff;
  padding: 40px 0;
}

.OurBlog {
  margin-bottom: 32px;
  text-align: center;
}

.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}

.OurBlog>p {
  color: #888888;
}

.post-blog-date::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 50px;
}

.post-blog-date {
  padding-bottom: 25px;
  position: relative;
}

.footer-top-layout [class*="col-sm-"]:first-child {
  padding: 0;
}

.footer-top-layout [class*="col-sm-"] {
  border-right: 2px solid #333333;
  padding: 0 0 0 28px;
}

.footer-top-layout {
  color: #ffffff;
}

.footer-col-item {
  min-height: 140px;
}

address {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #545454;
}

.footer-top-layout [class*="col-sm-"]:last-child {
  border-right: medium none;
}

.footer-top-layout {
  color: #ffffff;
}

.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}

.footer-col-item .item-contact a {
  color: #545454;
  display: inline-block;
  margin-bottom: 7px;
  width: 100%;
}

.footer-col-item .item-contact a .link-id {
  color: #ffffff;
  margin-left: 0;
  margin-right: 6px;
}

.footer-col-item span {
  margin-left: 7px;
}

.footer-col-item .item-contact a {
  color: #545454;
}

.footer-top-layout h4 {
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 21px;
}

.signUpNewsletter {
  position: relative;
}

.signUpNewsletter .gt-email {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #666666;
  border-radius: 0;
  color: #ffffff;
  height: 52px;
}

.signUpNewsletter .btn-go {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: #666666;
  border-style: solid;
  border-width: 0 0 0 1px;
  bottom: 0;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  width: 52px;
}

.footer-bottom-layout {
  background: #222222 none repeat scroll 0 0;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom-layout {
  text-align: center;
}

.footer-brand {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  height: 40px;
  padding: 5px 15px 0;
  color: #fff !important;
}

.footer-brand span {
  color: #158cba;
}

.footer-col-item span {
  color: #158cba;
}

.copyright-tag {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #ddd;
}

/* About page styling */

#sec1 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQIW2NkAIILFy78NzAwYATRjCABZEGwAEwFiA1WBlIOUwkA72gTdDIYVO4AAAAASUVORK5CYII=) repeat;
}


/* Profile page styling */

.profile-head {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQIW2NkAIILFy78NzAwYATRjCABZEGwAEwFiA1WBlIOUwkA72gTdDIYVO4AAAAASUVORK5CYII=) repeat;
  padding: 70px 0px 30px 20px;
}

.profile-body {
  padding: 4px 0px;
}

.text-page {
  padding: 120px 0;
}

#map-outer {
  height: 440px;
  padding: 40px 20px;
  margin-bottom: 20px;
  background-color: #FFF
}

#map-container {
  height: 400px
}

.img-dim {
  opacity: 0.5;
  box-shadow: inset 0px 0px 64px 64px #EA1717, 0px 0px 4px 4px #EA1717;
}


/* Authentication forms */

.form-box form, .form-box .form-message {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-box form .checkbox {
  margin-bottom: 10px;
}

.form-box form .checkbox {
  font-weight: normal;
}

.form-box form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-box form .form-control:focus {
  z-index: 2;
}

.form-box h2 {
  margin-bottom: 35px;
}

iframe.gmap {
  border: 10px solid #fff;
  box-shadow: 0 0 1px #777;
  margin-top: 30px;
}

/* news page */
.news-page h1 {
  margin-bottom: 0;
}

.post-image {
  float: left;
  margin: 20px 30px 10px 0;
}

.post-image-caption {
  margin-top: 10px;
}

.post-index-article {
  padding: 20px 30px;
}

.post-index-article .btn {
  margin-bottom: 50px;
  margin-top: 10px;
}

.post-index-article h2 {
  margin-top: 50px;
}

.post-index-article h2 a {
  font-weight: 600;
}

.post-index-article img {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.pagination>li>a, .pagination>li>span {
  background-color: #ddd;
}

/* sidebar */
.sidebar hr {
  margin-top: 50px;
}

.sidebar {
  padding: 20px;
  border: 1px solid #eee;
}

/* social icons */
ul.social-network {
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 45px;
	height: 45px;
	font-size:20px;
  background-color: #158cba;
}
.social-circle li i {
	margin:0;
	line-height:45px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/* Profile sidebar */
.sidebar-user h3 {
  margin-bottom: 0
}

.sidebar-user p {
  margin-bottom: 0;
}

.sidebar .profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.sidebar .profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.sidebar .profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.sidebar .profile-userbuttons .btn {
  text-transform: uppercase;
  margin-top: 15px;
}

.sidebar .profile-userbuttons .btn:first-child {
  margin-right: 10px;
}

.sidebar .profile-usermenu {
  margin-top: 30px;
}

.sidebar .profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.sidebar .profile-usermenu ul li:last-child {
  border-bottom: none;
}

.sidebar .profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.sidebar .profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.sidebar .profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.sidebar .profile-usermenu ul li.active {
  border-bottom: none;
}

.sidebar .profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}
